.navigation{
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    margin-left: 100px;
}
.celcius {
    width: 45px;
    height: 45px;
    margin-top: 50px;
    background: #E7E7EB;
    border-radius: 54px;
}
.farhenite{
    width: 45px;
    height: 45px;
    margin-top: 50px;
    margin-left: 5px;
    background: #585676;
    border-radius: 54px;
    color: #E7E7EB;
}
.cel{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}