.aside{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 42px 12px 52px 11px;
    background: #1E213A;
    overflow: hidden;
}
.aside_nav{
    max-width: 367px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button1{
    width: 161px;
    height: 40px;
    border: none;
    background: #6E707A;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #E7E7EB;
}
/*
.location{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: #6E707A;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    display: flex;
    align-items: center;
    justify-content: center;
}*/

.background {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clouds{
    position: absolute;
    opacity: 5%;
}
.sun{
    width: 202px;
    align-self: center;
}
.temperature{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 130px;
    padding-top: 0%;
    color: #E7E7EB;
}
.quan{
    font-size: 48px;
    line-height: 56.35px;
    opacity: .5;
}
.status{
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 21px;
    text-align: center;
    color: #A09FB1;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.date {
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #88869D;
    margin-bottom: 32px;
}

.dot {
    margin: 0 16px;
}
.location2{
    display: flex;
    align-items: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #88869D;
}